{% extends 'base.html.twig' %}

{% block title %} Modification de Mot de Passe {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5"> Ici, vous pourrez modifier votre mot de passe! </h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Modifier le mot de passe  <i class="fas fa-check"></i></button>

        {{ form_end(form) }}
    </div>
{% endblock %}