<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MLV Xtra - {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

      {% include '/shared/header.html.twig' %}

      {% block body %}
      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      {% endblock %}

      {% include '/shared/footer.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
