{% extends 'base.html.twig' %}

{% block title %} Toutes nos offres!{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
<h1> Voici toutes nos offres du moment! </h1>
<div class="row">
{% for ad in ads %}

{% include 'ad/refactoredAdsList.html.twig' %}

{% endfor %}
</div>
</div>
{% endblock %}
